.hotel-page-block {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 70px 0;
  font-size: 24px;
  color: #a4bcec;
}

.hotel-details-block {
  padding: 0 150px;
}

.hotel-block {
  display: flex;
  justify-content: center;
}

.hotel-name {
  color: #3077c6;
}

.calendar-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #a4bcec;
  padding: 10px;
  border-radius: 10px;

}

.select-text {
  font-size: 18px;
  color: #ffffff;
}
