.options-button {
  color: #3077c6;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border: 1px solid #3077c6;
  cursor: pointer;
  transform: none;
  user-select: none;
}
.options-button:disabled {
  color: #cecece;
  border: 1px solid #cecece;
}
.options-button :disabled {
  color: #3077c6;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border: 1px solid #3077c6;
  cursor: pointer;
  transform: none;
}
.options-child-age-select {
  border: 1px solid #3077c6;
  padding: 4px 8px;
}
.options-counter-number {
  margin-top: 5px;
}
.options-select-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 10px;
}
