.reviews {
    background-color: #ffffff;
    margin-bottom: 120px;
}

.reviews-blocks {
    margin-top: 104px;
    height: 760px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.reviews-card {
    background-color: rgba(234, 240, 249, 1);
    width: 400px;
    height: 760px;
}

.review-image {
    position: relative;
}

.card-info {
    padding: 24px 24px;
}

.review-price {
    width: 400px;
    background-color: #383838b2;
    color: #ffffff;
    padding: 16px 0 11px 24px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 2px;
}

.card-about {
    display: flex;
    justify-content: space-between;
}

.card-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-links a {
    color: #3077c6;
    font-size: 18px;
}

.card-links a:first-child {
    font-weight: 500;
}

.card-links a:last-child {
    font-weight: 400;
}

.nav-rating {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
}

.rating {
    width: 48px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10367c;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.nav-rating span:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #bfbfbf;
}

.user-block {
    display: flex;
    gap: 16px;
    margin: 24px 0 17px 0;
}

.user-image {
    width: 54px;
    height: 54px;
}

.user-block span {
    font-size: 18px;
    font-weight: 400;
}

.user-block span:last-child {
    color: #bfbfbf;
}

.user-image {
    width: 43px;
    height: 43px;
}

.rating {
    width: 39px;
    height: 26px;
    font-size: 15px;
}

.nav-rating span:last-child {
    font-size: 12px;
}

.user-image {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
}

.review-text {
    font-size: 18px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reviews-switch {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
}

.switch-circle-active {
    background-color: #000000;
}

.switch-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px #000000;
}

.switch-block {
    display: block;
}
