.footer {
  background-color: #10367c;
  height: 625px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 64px;
  cursor: pointer;
}

.links-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 24px;
}

.list-heading {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.list-link {
  font-size: 20px;
  color: #ffffff;
}

.inc {
  font-size: 14px;
  color: #ffffff;
}

.footer-logo {
  display: none;
}
