.top-section {
  height: 100vh;
  background-image: url("./images/castelmezzano.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #a4bcec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center 15%;
}

.apps {
  width: 270px;
  height: 40px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.google {
  width: 135px;
  background-image: url("./images/apps.png");
}

.app-store {
  width: 120px;
  background-image: url("./images/apps.png");
  background-position-x: 120px;
}