@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Roboto:ital,wght@0,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #a4bcec;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 20px;
}

a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  max-width: 1264px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.name-hr {
  width: 100px;
  height: 4px;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}

.available-hotels-block {
  background-color: #ffffff;
}

.available-hotels-img {
  width: 295px;
  height: 295px;
}

.name-block + .name-hr:hover {
  color: #f5bd41;
}

 {
  height: 100vh;
  background-image: url("../../assets/images/castelmezzano.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #a4bcec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center 15%;
}

.top-content {
  margin-top: 196px;
}

.header {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 40px;
  width: 205px;
  background-image: url("../TopSection/images/logo-more.png");
  background-size: cover;
}

.header-sections {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-links {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.link-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hr-links {
  width: 50px;
  height: 4px;
  background-color: #f5bd41;
  display: none;
}

.link-block:hover + hr {
  display: block;
}

.header-links a {
  border-bottom: solid 4px transparent;
}

.header-links a:hover {
  border-bottom: solid 4px #f5bd41;
}

.link-stays:hover {
  border-bottom: solid 4px #f5bd41;
}

.link-attractions:hover {
  border-bottom: solid 4px #f5bd41;
}

.header-buttons {
  display: flex;
  gap: 24px;
  cursor: pointer;
  align-items: center;
}

.button-night {
  height: 40px;
  width: 30px;
  background-image: url("../TopSection/images/logo-more.png");
  background-size: cover;
  background-position-x: 71px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-account {
  max-height: 40px;
  max-width: 40px;
  background-image: url("../TopSection/images/logo-more.png");
  width: 277px;
  height: 40px;
  background-size: cover;
  background-position-x: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-button {
  width: 192px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #3077c6;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.button-menu {
  width: 24px;
  height: 16px;
  background-image: url("../TopSection/images/menu.svg");
  background-size: cover;
  background-position-x: 20px;
  border: none;
  background-color: transparent;
  display: none;
}

.form {
  height: 64px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 15px;
}

.form-name {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

._name-margin {
  margin-right: 221px;
}

._form-settings {
  height: 64px;
  padding: 0;
}

.form-mobile-edition {
  display: none;
}

.form-button {
  width: 192px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #3077c6;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.apps {
  width: 270px;
  height: 40px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.form-elements {
  position: relative;
}

.input-hotels {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
}

.filter-container {
  position: absolute;
  bottom: -60px;
}

.country {
  width: 39.5%;
}

.date {
  display: flex;
  width: 18%;
}

.options {
  width: 27%;
  position: relative;
}

.form-elements input::placeholder {
  font-size: 18px;
  color: #000000;
}

.form-elements input {
  width: 100%;
  height: 63px;
  border-radius: 8px;
  border: 3px solid transparent;
  padding-left: 24px;
  font-size: 18px;
}

.form-elements label {
  position: absolute;
  top: -36px;
  left: 15px;
  color: #ffffff;
}

.form-elements input:focus {
  border: 3px solid #f5bd41;
}
